---
import BaseLayout from '../layouts/BaseLayout.astro'
import {Icon} from 'astro-icon/components'
---

<BaseLayout>
  <main class="w-full h-screen grid place-items-center">
    <a href="/">
      <Icon name="material-symbols:arrow-back" class="inline-block" />
      Back
    </a>
  </main>
</BaseLayout>
