---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout>
  <main class="w-full h-screen grid place-items-center">
    <section>
      <a href="/hello" class="underline">hello</a>
      <span class="font-serif text-gray-11">amazing</span>
      <span class="font-mono">world</span>
    </section>
  </main>
</BaseLayout>
